@import "../../scss/mixins/breakpoints";

.user-account {
  padding-top: 160px;
  min-height: calc(100vh - 120px);

  @include tablet-1024 {
    padding-top: 60px;
  }

  @include mobile-576 {
    padding-top: 24px;
  }

  &:has(.user-account__tab-content.tab-2.active) {
    padding-bottom: 160px;

    @include mobile-576 {
      padding-bottom: 148px;
    }
  }

  &__title {
    margin-bottom: 74px;

    @include mobile-576 {
      margin-bottom: 48px;
    }
  }

  &__nav {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    margin-bottom: 70px;

    @include mobile-576 {
      gap: 24px;
      margin-bottom: 48px;
    }
  }

  &__tab {
    position: relative;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    background-position: left top 3.5px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    cursor: pointer;

    &--settings {
      background-image: url("../../assets/img/icon-person-fill.svg");
    }

    &--favourites {
      background-image: url("../../assets/img/icon-heart-empty-fill.svg");
    }

    &.active {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        left: 0;
        bottom: -6px;
        background-color: var(--clr-heliotrope);
      }
    }
  }

  &__tab-content {
    display: none;

    &.active {
      display: block;
    }
  }
}

.tab-1 {
  position: relative;
  left: -70px;
  top: -70px;
  padding: 0 70px;
  padding-top: 70px;
  margin-bottom: -70px;
  width: calc(100% + 140px);
  max-height: 558px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
