.user-account {
  padding-top: 160px;
  padding-bottom: 160px;

  &__title {
    margin-bottom: 64px;
  }

  &__nav {
    display: flex;
    align-items: flex-start;
    gap: 64px;
  }

  &__tab {
    margin-bottom: 64px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    background-position: left top 2px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    cursor: pointer;

    &--settings {
      background-image: url("../../assets/img/icon-person-fill.svg");
    }

    &--favourites {
      background-image: url("../../assets/img/icon-heart-empty-fill.svg");
    }

    &.active {
      padding-bottom: 10px;
      border-bottom: 1.5px solid var(--clr-heliotrope);
    }
  }

  &__tab-content {
    display: none;

    &.active {
      display: block;
    }
  }
}
