@import "../../scss/mixins/breakpoints";

.user {
  display: flex;
  flex-direction: column;
  align-items: start;

  @include mobile-576 {
    align-items: normal;
  }

  &__data {
    margin-bottom: 64px;

    @include mobile-576 {
      margin-bottom: 40px;
    }
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &--email::before {
      content: "";
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: var(--clr-white-50);
      background-image: url("../../assets//img/icon-mail-fill.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px 24px;

      @include mobile-576 {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__category {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 24px;

    @include mobile-576 {
      font-size: 14px;
      line-height: 20px;
      color: var(--clr-white-50);
    }
  }

  &__details {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    @include mobile-576 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__initials {
    padding: 14px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    border-radius: 50%;
    background-color: var(--clr-white-50);

    @include mobile-576 {
      padding: 8px;
      width: 48px;
      height: 48px;
    }
  }

  &__button {
    width: 261px;
  }
}