@import "../../scss/mixins/breakpoints";

.top-films {
  padding-top: 48px;
  padding-bottom: 120px;

  @include tablet-768 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__title {
    margin-bottom: 64px;

    @include tablet-768 {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 40px;

    @include tablet-1024 {
      flex-wrap: nowrap;
      overflow-x: auto;

      padding-top: 70px;
      margin-top: -70px;
      padding-left: 12px;
      margin-left: -12px;
      margin-right: -20px;
      padding-bottom: 50px;
      margin-bottom: -50px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: calc((100% - 160px) / 5);
    animation: fadeIn 1s ease;

    @include tablet-1024 {
      width: 224px;
    }

    &:last-child {
      @include tablet-1024 {
        margin-right: 20px;
      }
    }
  }

  &__number {
    position: absolute;
    z-index: 11;
    top: -12px;
    left: -12px;
    padding: 8px 24px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 700;
    color: var(--clr-blue-marguerite);
    background-color: var(--clr-white);
  }
}