.registration {
  position: relative;

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--clr-black);
  }

  &__text {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
    color: var(--clr-black);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: min(100%, 340px);
  }

  &__submit {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  &__show-password {
    position: absolute;
    top: 16px;
    right: 12px;
    display: flex;
    width: 24px;
    height: 24px;
  }
}

.registration-complete {
  display: flex;
  flex-direction: column;

  &>.login__submit {
    margin: 0;
  }
}