@import "../../scss/mixins/breakpoints";

.search-card {
  display: flex;
  gap: 16px;

  @include tablet-1024 {
    flex-direction: column;
    width: 220px;
  }

  & img {
    @include tablet-1024 {
      width: 158px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__info {
    display: flex;
    gap: 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--clr-white-70);

    @include tablet-1024 {
      align-items: center;
      flex-wrap: wrap;
    }

    & .rating {
      padding: 5px 8px 5px 22px;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      background-position: left 8px center;
      background-size: 10px 10px;

      @include tablet-1024 {
        padding: 2px 8px 2px 22px;
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
}