.loader-btn {
  width: 27px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid var(--clr-white);
  animation:
    preloader-1 0.8s infinite linear alternate,
    preloader-2 1.6s infinite linear;
}