.login {
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: min(100%, 340px);
  }

  &__submit {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  &__show-password {
    position: absolute;
    top: 16px;
    right: 12px;
    display: flex;
    width: 24px;
    height: 24px;
  }
}