.auth-modal {
  position: fixed;
  z-index: 99;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-woodsmoke-90);
  // pointer-events: none;
  // opacity: 0;
  transition: opacity 0.4s ease-in-out;

  &__inner {
    padding: 64px 40px;
    border-radius: 24px;
    text-align: center;
    background-color: var(--clr-white);
  }

  &__button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
}