@import "../../scss/mixins/breakpoints";

.favorites {
  position: relative;

  &__empty-list {
    font-size: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 40px;
    padding-bottom: 68px;

    @include tablet-1024 {
      flex-wrap: nowrap;
      margin-top: -40px;
      padding-top: 40px;
      margin-left: -20px;
      padding-left: 20px;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__remove-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    background-image: url('../../assets//img/icon-close.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: calc((100% - 160px) / 5);
    animation: fadeIn 1s ease;

    @include tablet-1024 {
      width: 224px;
    }

    &:hover .favorites__remove-btn {
      opacity: 1;
      visibility: visible;
    }
  }
}