@import "../../scss/mixins/breakpoints";
@import "../../scss/mixins/hover";

.genres {
  padding-top: 160px;
  padding-bottom: 160px;

  @include tablet-1024 {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @include tablet-768 {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 64px;

    @include tablet-1024 {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 40px;

    @include desktop-1200 {
      gap: 40px 24px;
    }

    @include tablet-1024 {
      gap: 24px;
    }
  }

  &__item {
    display: flex;
    width: calc((100% - 120px) / 4);
    max-height: 304px;
    animation: fadeIn 2s;

    @include desktop-1200 {
      width: calc((100% - 48px) / 3);
    }

    @include tablet-1024 {
      width: calc((100% - 24px) / 2);
    }

    @include tablet-768 {
      width: 100%;
    }
  }
}
