@import "../../scss/mixins/breakpoints";

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: auto;
  width: min(100%, 559px);

  @include tablet-1024 {
    display: none;
    max-width: 335px;
  }

  &.open {
    position: absolute;
    z-index: 999;
    right: 20px;
    top: 0px;
    display: block;
    animation: fadeIn 0.3s;
  }

  &__label {
    width: 100%;
  }

  &__input {
    padding: 12px;
    padding-left: 52px;
    width: 100%;
    border-radius: 8px;
    font-size: 18px;
    line-height: 24px;
    color: var(--clr-white);
    background-color: var(--clr-cape-god);
    background-image: url("../../assets/img/search.svg");
    background-position: left 16px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;

    &::placeholder {
      font-size: 18px;
      line-height: 24px;
      color: var(--clr-white-50);
    }
  }

  &__close-btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
  }

  &__btn {
    display: none;
    margin-right: 20px;
    font-size: 0;

    svg {
      fill: var(--clr-white);
    }

    @include tablet-1024 {
      display: block;
    }
  }

  &__dropdown {
    position: absolute;
    top: 72px;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    max-height: 501px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--clr-cape-god);
    overflow-y: scroll;
    opacity: 1;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0px 0px 8px 0px;
      background-color: var(--clr-cape-god);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: var(--clr-white-25);
    }

    &.active {
      display: block;
    }

    @include tablet-1024 {
      top: 54px;
      border-radius: 8px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__results-list {
    position: relative;
    z-index: 9999999999 !important;

    @include tablet-1024 {
      display: flex;
      padding: 0 6px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__results-item {
    padding: 20px 16px;
  }
}
