@import "../../scss/mixins/breakpoints";
@import "../../scss/mixins/hover";

.genre-card {
  flex: 1;
  border-radius: 24px;
  box-shadow: var(--shd-card);
  background-color: var(--clr-dove-gray);
  overflow: hidden;
  transition: scale 0.3s ease-in-out;

  @include hover {
    scale: 1.03;
  }

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__img {
    object-fit: cover;
    object-position: top;
    min-height: 220px;
    aspect-ratio: 29/22;

    @include desktop-1200 {
      max-height: 220px;
    }
  }

  &__name {
    padding: 22px 30px 30px;
    height: 84px;
    background-color: var(--clr-black);

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      text-align: center;
    }
  }
}