.container {
  margin-inline: auto;
  padding: 0 20px;
  width: min(100%, 1320px);
}

.page-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--clr-white);

  @include tablet-1024 {
    font-size: 40px;
    line-height: 48px;
  }

  @include mobile-576 {
    font-size: 24px;
    line-height: 32px;
  }
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: var(--clr-white);

  @include tablet-1024 {
    font-size: 32px;
    line-height: 46px;
  }

  @include mobile-576 {
    font-size: 24px;
    line-height: 32px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.button {
  flex-shrink: 0;
  padding: 16px 48px;
  height: 56px;
  border-radius: 28px;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--clr-white);
  transition: border-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

  &-primary {
    background-color: var(--clr-blue-marguerite);

    &:focus-visible,
    &:active {
      background: var(--clr-medium-purple);
    }

    @include hover {
      background: var(--clr-medium-purple);
    }

    &:disabled {
      background-color: var(--clr-link-water);
    }
  }

  &-secondary,
  &-icon {
    border: 1px solid var(--clr-black-40);
    background-color: var(--clr-cape-god);

    @include hover {
      border-color: var(--clr-black);
      color: var(--clr-black);
      background-color: var(--clr-white);
    }

    &:disabled {
      color: var(--clr-white-50);
      background-color: var(--clr-boulder-light);
    }
  }

  &-icon {
    padding: 16px 22px;
  }
}

.rating {
  padding: 3px 12px 3px 32px;
  border-radius: 16px;
  color: var(--clr-white);
  background-image: url("./assets/img/star.svg");
  background-position: left 12px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;

  &.excellent {
    background-color: var(--clr-pirate-gold);
  }

  &.high {
    background-color: var(--clr-forest-green);
  }

  &.medium {
    background-color: var(--clr-boulder);
  }

  &.low {
    background-color: var(--clr-thunderbird);
  }
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 16px;

  & svg {
    fill: var(--clr-black-40);
  }

}

.error-message {
  position: absolute;
  bottom: 83px;
  right: 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--clr-bittersweet);
}